<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- 日志写入到 D:/MyAppLogs 文件夹，文件名按日期分割 -->
    <target xsi:type="File" name="logfile" fileName="D:/MyAppLogs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
    <target xsi:type="Debugger" name="debugger" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile,debugger" />
  </rules>
</nlog> 